.postsMainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postsFormsContainer {
  display: flex;
  justify-content: space-between;
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postCard {
  width: 50%;
}
