.postsMainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postsSecondContainer {
  display: flex;
  justify-content: space-between;
}

.postsCardsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.postsFormsContainer {
  width: 25%;
}

.postForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
